body {
    font-family: Arial, sans-serif;
    background-color: #47b5e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(66, 219, 148);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.number-fields {
    margin: 20px 0;
}

input {
    margin: 5px 0;
}

/*david*/