/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;         /* Se utiliza una fuente sans-serif legible */
    background-color: #47b5e7;              /* Color de fondo azul claro */
    display: flex;                          /* Se usa flexbox para centrar el contenido */
    justify-content: center;               /* Centrado horizontal */
    align-items: center;                   /* Centrado vertical */
    height: 100vh;                         /* La altura de la ventana completa (viewport) */
    margin: 0;                             /* Elimina márgenes por defecto */
}

/* Estilos para el contenedor principal */
.container {
    background: rgb(66, 219, 148);          /* Fondo verde suave */
    padding: 20px;                          /* Espaciado interno alrededor del contenido */
    border-radius: 8px;                     /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Sombra sutil para dar profundidad */
    text-align: center;                     /* Alineación centrada del texto */
}

/* Estilos para el contenedor de los campos numéricos */
.number-fields {
    margin: 20px 0;                         /* Margen vertical entre elementos */
}

/* Estilos generales para los inputs */
input {
    margin: 5px 0;                          /* Espacio vertical entre los inputs */
}


/*david*/